
/* Database Tester */
.testButton {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.testButton:hover {
	background-color:#5cbf2a;
}
.testButton:active {
	position:relative;
	top:1px;
}


#header{
	background-color: burlywood;
	border: solid black 2px;
	padding: 1%;
	font-weight: bold;
}

a{
	color: black;
}

body{
    background-color: azure;
}

		
#wireframeZone{
	background-color: white;
}