
/* Database Tester */
.testButton {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.testButton:hover {
	background-color:#5cbf2a;
}
.testButton:active {
	position:relative;
	top:1px;
}


#header{
	background-color: burlywood;
	border: solid black 2px;
	padding: 1%;
	font-weight: bold;
}

a{
	color: black;
}

body{
    background-color: azure;
}

		
#wireframeZone{
	background-color: white;
}

.containerControl{
	height: 100%;
	width: 100%;
}


.box .content {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: pink;
}

.box {
	width: 300px;
	height: 300px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.box::before {
	content: '';
	position: absolute;
	width: 300%;
	height: 300%;
	background: repeating-linear-gradient(
			white 0%,
			white 7.5px,
			hotpink 7.5px,
			hotpink 15px,
			white 15px,
			white 22.5px,
			hotpink 22.5px,
			hotpink 30px);
	transform: translateX(-20%) translateY(-20%) rotate(-45deg);
	animation: animate 20s linear infinite;
}

.box .content {
	position: relative;
	background-color: white;
	flex-direction: column;
	box-sizing: border-box;
	padding: 30px;
	text-align: center;
	font-family: sans-serif;
	z-index: 2;
}

.box,
.box .content {
	box-shadow: 0 0 2px deeppink,
				0 0 5px rgba(0, 0, 0, 1),
				inset 0 0 5px rgba(0, 0, 0, 1);
	border-radius: 10px;
}

.box .content h2 {
	color: deeppink;
}

.box .content p {
	color: dimgray;
}

@keyframes animate {
	from {
		background-position: 0;
	}

	to {
		background-position: 0 450px;
	}
}

.deleteWireframeBtn{
	background-color: #dc235d
}

.deleteWireframeBtn.hover{
	background-color: #dc235d;
	box-shadow: 0 0 15px #d35400;
	text-shadow: 0 0 15px #d35400;
}


.selectedNotification{
	font-weight: bold;
	font-size: 20px;
}

.wireframeOptions{
	padding: 2%;
}